<p class="block">
	<div>Name: {presenter.$model.SecondaryModel.name}</div>
	<div>Age: {presenter.$model.SecondaryModel.age}</div>
	<div>Name: {presenter.$model.SecondaryModel.status}</div>
</p>
<p>SIMPLE FORM</p>
<form name="simpleForm" am-form="presenter.$model.SecondaryModel">
	<input name="name">
	<input name="age">
	<select name="status"></select>
</form>
<p>DYNAMIC FORM</p>
<form name="dynamicForm" am-dynamic-form="presenter.$model.SecondaryModel">
	
</form>
<button am-click="presenter.printModel">Print</button>